---
import Image from 'src/components/common/Image.astro';
---

<span class="flex items-center">
  <Image
    src="https://assets.criztec.com/CriztecLogo.png"
    alt="Criztec Logo"
    width={200}
    height={106}
    class="h-10 w-auto hidden lg:block brightness-0 invert"
  />
  <span class="lg:hidden text-xl font-bold text-white">CRIZTEC</span>
</span>
